@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Lato:wght@300;400;700&family=Montserrat:wght@500;700&family=Outfit&family=Red+Hat+Display:wght@500;700;900&display=swap");

$primary-color: hsl(225, 100%, 94%);
$secondary-color: hsl(245, 75%, 52%);
$very-pale-blue: hsl(225, 100%, 98%);
$desaturated-blue: hsl(224, 23%, 55%);
$dark-blue: hsl(223, 47%, 23%);
$paragraph-font-size: 16px;
$main-font: "Red Hat Display", sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: $desaturated-blue;
  font-family: $main-font;
  background-image: url("../images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $very-pale-blue;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 400px;
  height: 100%;
  object-fit: cover;
}

.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
  width: 400px;
  background-color: white;
}

p {
  font-size: $paragraph-font-size;
}

h1 {
  font-weight: 700;
  color: $dark-blue;
}
